.skill-card {
    display: flex;
    width: max-content;
    padding: 8px 16px;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px;
    border-radius: 8px;
}

.skill-card-icon{
    font-size: 80px;
}

.skill-card-name{
    font-size: 24px;
}

@media screen and (max-width:720px) {
    .skill-card {
        width: max-content;
        height: 100px;
    }
    .skill-card-icon {
        font-size: 60px;
    }
    .skill-card-name {
        font-size: 12px;
    }
}